*{
    /* Document Colours  */
    --gray:#e9e9e9;
    --dark-gray:#666;
    --black: #111;
    --brown:#754047;
    --white: #fff;
    --blue: #3C4165;
    --light-peach: #F3C2B7;
    --peach: #EB9C7B;
    --transparent:#00000000;
}.mt{
    width: 100%;
    height: 80px;
}.blogs-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}.blogs{
    width: 900px;
    height: 250px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}.blogs-img-div{
    margin: 40px;
    width: 300px;
    height: 200px;
    overflow: hidden;

}.blogs-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}.blogs-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}.blogs-content > h1{
    margin: 0;
    font-size: 72px;
    margin-top: 20px;
}.blogs-content > h2{
    margin: 0;
    margin-top: -25px;
}.blogs-content > p{
    width: 450px;
    margin: 0;
}.blogs-button{
    color: var(--white);
    background-color: var(--dark-gray);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 10px;
}
@media screen and (max-width:900px) {
    .blogs{
        width: auto;
        height: auto;
        flex-direction: column;
    }
    .blogs-content{
        align-items: center;
        justify-content: center;
    }
    .blogs-content h1{
        font-size: 52px;
        margin: 10px;
    }
    .blogs-content > p{
        width: auto;
        padding: 0 50px;
    }
}