@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url("colors.css");
html, body{
    scroll-behavior: smooth;
    font-family: 'El Messiri', sans-serif;
    background-color: var(--black);
    color: var(--white);
}.footer{
    height: 150px;
    width: 100%;
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}.logo-footer{
    height: 60px;
    width: auto;
}.footer-box{
    height: 100%;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}.footer-box > h2{
    margin-bottom: 10px;
    margin: 0;
}.footer-box > p{
    font-size: 12px;
    margin: 0;
}.copyright{
    background-color: var(--dark-gray);
    height: 40px;
    width: 100%;
    color: var(--white);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: sans-serif;
}@media  screen and (max-width:650px) {
    .footer{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }.logo-footer{
        padding: 20px;
    }.footer-box{
        width: 50%;
        padding: 20px;
        height: auto;
    }
}