body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}#gallery{
    width: 140vmax;
    height: 140vmax;
    position: absolute;
}.tile{
    border-radius: 1vmax;
    position: absolute;
    transition: transform 800ms ease;
    background-color: transparent;
}.tile:hover{
    transform: scale(1.1);
}.tile:hover > img{
    opacity: 1;
    transform: scale(1.01);
}.tile > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    border-radius: inherit;
    transition:  opacity 800ms ease,
    transform 800ms ease;
}.tile:nth-child(1) {
    /* background-color: rgb(255, 238, 88); */
    height: 14%;
    width: 20%;
    left: 5%;
    top: 5%;
}.tile:nth-child(2) {
    /* background-color: rgb(66, 165, 245); */
    height: 24%;
    width: 14%;
    left: 42%;
    top: 12%;
}.tile:nth-child(3) {
    /* background-color: rgb(239, 83, 80); */
    height: 18%;
    width: 16%;
    left: 12%;
    top: 34%;
}.tile:nth-child(4) {
    /* background-color: rgb(102, 187, 106); */
    height: 14%;
    width: 12%;
    left: 45%;
    top: 48%;
}.tile:nth-child(5) {
    /* background-color:  rgb(171, 71, 188); */
    height: 16%;
    width: 32%;
    left: 8%;
    top: 70%;
}.tile:nth-child(6) {
    /* background-color: rgb(255, 167, 38); */
    height: 24%;
    width: 24%;
    left: 68%;
    top: 8%;
}.tile:nth-child(7) {
    /* background-color: rgb(63, 81, 181); */
    height: 16%;
    width: 20%;
    left: 50%;
    top: 74%;
}.tile:nth-child(8){
    /* background-color: rgb(141, 110, 99); */
    height: 24%;
    width: 18%;
    left: 72%;
    top: 42%;
}.tile:nth-child(9) {
    /* background-color: rgb(105, 167, 156); */
    height: 10%;
    width: 8%;
    left: 84%;
    top: 84%;
}.text-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
}h1{
    font-size: 78px;
}

#mobilenav{
    background-color: var(--black); 
}#nav-containerid{
    background-color: var(--transparent);
}.container-links > a > li{
    color: var(--white);
}#footer{
    position: fixed;
    bottom: 0;
}

@media screen and (max-width:900px){
    body{
        overflow: visible; 
    }#gallery{
        width: 100vw;
        height: auto;
        position: relative;
        top: 80px;
    }.tile{
        border-radius: 1vmax;
        position: relative;
        margin: auto;
        padding: 20px;
    }.tile:hover{
        transform: none;
    }.tile:hover > img{
        opacity: 1;
        transform: none;
    }.tile > img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 1;
        border-radius: inherit;
        transition:  opacity 800ms ease,
        transform 800ms ease;
    }.tile:nth-child(1) {
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-left: 0; 
    }.tile:nth-child(2) {
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-right: 0;
    }.tile:nth-child(3) {
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-left: 0; 
    }.tile:nth-child(4) {
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-right: 0;
    }.tile:nth-child(5) {
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-left: 0; 
    }.tile:nth-child(6) {
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-right: 0;
    }.tile:nth-child(7) {
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-left: 0; 
    }.tile:nth-child(8){
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-right: 0;
    }.tile:nth-child(9) {
        background-color: transparent;
        height: 350px;
        width: 250px;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-left: 0; 
    }.text-container{
        display: none;
    }h1{
        font-size: 58px;
    }
    #footer{
        position: relative;
    }
}

@media screen and (max-width:767px){
    #nav-containerid{
        background-color: var(--black);
    }.container-links > a > li{
        color: var(--white);
    }

    #gallery{
        top: 160px;
    }
    .text-container{
        display: block;
        width: 100%;
        text-align: center;
        top: 40px;
    }
}


