@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url(colors.css);
html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'El Messiri', sans-serif;
}*.mobile-nav{
    display: none;
    z-index: 5;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--black);
}#nav-containerid{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transform: translateX(0%);
    z-index: 5;
    background-color: var(--black);
}.header-logo{
    height: 40px;
    width: auto;
    cursor: pointer;
}.container-links{
    display: flex;
}.container-links a{
    text-decoration: none;
    cursor: pointer;
}.container-links > a > li{
    list-style: none;
    cursor: pointer;
    margin-left: 25px;
    color: var(--white);
}#hicon{
    position: absolute;
    right: 30px;
    height: 45px;
    width: auto;
    z-index: 5;
    transition: 300ms ease-in-out;
    margin-bottom: 5px;
}#closex{
    position: absolute;
    right: 30px;
    height: 0px;
    width: auto;
    z-index: 5;
    transition: 300ms ease-in-out;
    margin-bottom: 5px;
}
.mobile-logo{
    position: relative;
    transition: 300ms ease-in-out;
    margin-left: 30px;
}@media screen and (max-width:767px){
    .mobile-nav{
        display: flex;
    }#nav-containerid{
        height: 100vh;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
    }.container-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }.container-links > a > li{
        margin: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }.mobile-gone{
        display: none;
    }
}
@media screen and (max-width:600px){
    #nav-containerid{
        transition: 300ms ease-in-out;
    }
}

