@import url("colors.css");
.logo{
    height: 40px;
    width: auto;
}


.s1-container{
    padding-top: 80px;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}.s1-inner-container{
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}.s1-r1{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}.s1-img1{
    width: auto;
    height: 650px;

}.s1-r2{
    height: 100%;
    width: 30%;
    margin-left: 2cm;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}.s1-r2 > p{
    width: 300px;
    font-size: 24px;
}.s1-r2 > h2{
    font-size: 48px;
    margin: 0;
    margin: -15px;
}.s1-r2 > h1{
    font-size: 62px;
    margin: 0;

}.s1-r2 > h1, p, h2{
    margin: 0px;
}

@keyframes dball1 {
    0%   {
        left: 0cm;
        top:8cm;
    }25%{
        left:2cm ;
        top: 6cm;
    }
    50%  {
        top:2cm;
        left: 4cm;
    }75%{
        left: 2cm;
        top: 6cm;
    }
    100% {
        left: 0cm;
        top:8cm;
    }
}

@keyframes dball2 {
    0%   {
        right: 0cm;
        bottom:8cm;
    }25%{
        right:2cm ;
        bottom: 6cm;
    }
    50%  {
        bottom:2cm;
        right: 4cm;
    }75%{
        right: 2cm;
        bottom: 6cm;
    }
    100% {
        right: 0cm;
        bottom:8cm;
    }
}

@keyframes dball3 {
    0%   {
        bottom: 0cm;
        right:8cm;
    }25%{
        bottom:2cm ;
        right: 6cm;
    }
    50%  {
        right:2cm;
        bottom: 4cm;
    }75%{
        bottom: 2cm;
        right: 6cm;
    }
    100% {
        bottom: 0cm;
        right:8cm;
    }
}

@keyframes smdball1 {
    0%   {
        bottom: 2cm;
        right:8cm;
    }25%{
        bottom:2cm ;
        right: 6cm;
    }
    50%  {
        right:2cm;
        bottom: 4cm;
    }75%{
        bottom: 2cm;
        right: 6cm;
    }
    100% {
        bottom: 2cm;
        right:8cm;
    }
}

@keyframes smdball2 {
    0%   {
        top: 2cm;
        right:0cm;
    }25%{
        top:2cm ;
        right: 6cm;
    }
    50%  {
        right:2cm;
        top: 4cm;
    }75%{
        top: 2cm;
        right: 6cm;
    }
    100% {
        top: 2cm;
        right:0cm;
    }
}


.smdball1{
    position: absolute;
    width: 80px;
    left: 2cm;
    animation: smdball1 40s linear infinite; 
}

.smdball2{
    position: absolute;
    width: 80px;
    right: 2cm;
    top: 8cm;
    animation: smdball2 40s linear infinite; 
}

.dball1{
    position: absolute;
    width: 180px;
    left: 2cm;
    animation: dball1 40s linear infinite;   
}.dball2{
    position: absolute;
    width: 160px;
    right: 2cm;
    bottom: 3cm;
    animation: dball2 40s linear infinite;   

}.dball3{
    position: absolute;
    width: 160px;
    right: 5cm;
    top: 3cm;
    animation: dball3 40s linear infinite;   

}



.wearunique{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: var(--dark-gray);
}.wearunique h1{
    font-size: 48px;
    margin: 0;
}.wearunique p{
    width: 800px;
    text-align: center;
}

.cards-section{
    width: 80%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.card{
    width: 250px;
    height: 300px;
    border-radius: 25px;
    background-color: var(--dark-gray);
    box-shadow: rgba(0, 0, 0, 0.527) 2px 2px 1px, rgba(0, 0, 0, 0.09) 4px 4px 2px, rgba(0, 0, 0, 0.09) 8px 8px 4px, rgba(0, 0, 0, 0.09) 16px 16px 8px, rgba(0, 0, 0, 0.09) 32px 32px 16px;
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}.card h2{
    margin: 10px;
}.card p{
    width: 70%;
    text-align: center;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.527) 1px 1px 1px, rgba(0, 0, 0, 0.09) 2px 2px 2px, rgba(0, 0, 0, 0.09) 4px 4px 4px, rgba(0, 0, 0, 0.09) 8px 8px 8px, rgba(0, 0, 0, 0.09) 16px 16px 16px;
   
}