@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'El Messiri', sans-serif;
}

*{

    /* Document Colours  */
    --gray:#e9e9e9;
    --dark-gray:#666;
    --black: #000;
    --brown:#754047;
    --white: #fff;
    --blue: #3C4165;
    --light-peach: #F3C2B7;
    --peach: #EB9C7B;

}


.s1-container{
    width: 100%;
    height: 100vh;
    display: flex;justify-content: center;
    align-items: center;

    background-color: var(--gray);
}

.s1-inner-container{
    width: 1200px;
    height: 100vh;
    display: flex;
    background-color: var(--gray);
}


.s1-r1{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.s1-bar{
    width: 980px;
    height: auto;
    position: absolute;
    z-index: 2;
    margin-bottom: 8cm;
}

.stars{
    position: relative;
    width: auto;
    height: 60px;
    bottom: 3.6cm;
    left: 5cm;
}

.stars1{
    position: relative;
    width: auto;
    height: 60px;
    top: 4.3cm;
    left: 1cm;
}


.s1-img1{
    width: 300px;
    height: 450px;
}

.s1-img2{
    width: 300px;
    height: 200px;
    position: absolute;
    right: 1cm;
}

.s1-r2{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.s1-r2 > p{
    width: 300px;
    font-size: 20;
    
}

.s1-r2-content > h2{
    font-size: 48px;
    margin: 0;
    margin: -15px;


}

.s1-r2 > h1{
    font-size: 72px;
    margin: 0;

}

.s1-r2 > h1, p, h2{
    margin: -10px;
}

.s2-container{
    width: 100%;
    height: 50vh;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2-inner-container{
    width: 40%;
    height: 50vh;
    background-color: var(--gray);
    display: flex;
}

.s2-r1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.s2-r1-content-container{
    width: 400px;
    height: auto;
}

.s2-r1-content-container > h1{
    margin:0;
    margin-left: -10px;
    font-size: 52px;
}

.s2-r1-content-container > h2{
    font-size: 34px;
    margin-bottom: 10px;
}

.s2-r2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.s2-bar{
    width: 30%;
    height: 30px;
    position: absolute;
    background-color: var(--blue);
    z-index: 2;
    left: 0;
    margin-bottom: 10cm;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2-img{
    margin-left: 2cm;
}

.s3-img{
    margin-right: 2cm;
}

.s3-r1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.s3-r2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.s3-bar{
    width: 30%;
    height: 30px;
    position: absolute;
    background-color: var(--light-peach);
    z-index: 2;
    right: 0;
    margin-bottom: -10cm;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.s4-bar{
    width: 30%;
    height: 30px;
    position: absolute;
    background-color: var(--peach);
    z-index: 2;
    left: 0;
    margin-bottom: 10cm;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    height: 150px;
    width: 100%;
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.logo-footer{
    height: 60px;
    width: auto;
}

.footer-box{
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-box > h2{
    margin-bottom: 10px;
}

.footer-box > p{
    font-size: 12px;
}

.copyright{
    height: 20px;
    width: 100%;
    background-color: #000;
}